/* .movie-scroll {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  object-fit: contain;
} */
/* 
.movie-card {
  transition: 300ms;
}

.movie-card:hover {
  transform: scale(1.015);
} */
