<!-- <p>movie works!</p> -->
<section>
  <div class="container-fluid">
    <div class="d-flex flex-row flex-wrap justify-content-center">
      <div *ngFor="let movie of movies">
        <div class="col-3">
          <div class="card my-3 movie-card" style="width: 15rem;">
            <img
              [src]="movie.imageUrl"
              class="card-img-top"
              [alt]="movie.name"
            />
            <div class="card-body" style="text-align: center;">
              <h5 class="card-title">
                {{ movie.name }}
              </h5>
              <p class="card-text px-auto">
                {{ movie.description | slice: 0:80 }}...
              </p>
              <a routerLink="/booking" class="btn btn-primary">Book Ticket</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
